.UserProfile__page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
  &--table {
    grid-column: 1/ span 2 ;
    grid-row: 1;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;

    &__action {
      display: flex;
      justify-content: center;
      
      &-edit {
        margin: 0.4rem 0;
      }

      &-add {
        margin: 0.4rem;
      }
      
      &-delete {
        margin: 0.4rem;
      }
      img {
        height: 20px;
        width: 20px;
      }
      
      
    }
  }

  &--profile {
    grid-column: 3;
    grid-row: 1;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
  }
  
}

.modal-body {
  .email {
    width: 100%;
  }
}