html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 160px !important; /* Height of the footer */
  padding: 0;
  background: linear-gradient(to bottom right, #669999 3%, #999966 130%);

}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px; /* Set the fixed height of the footer here */
  background: linear-gradient(to bottom right, #006699 3%, #666633 130%);

}

/* Override Bootstrap Styling */

.btn-primary {
  background-color: #025fce !important;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}
.show>.dropdown-menu {
    display: block;
    position: absolute;
  }
  .ReactTable .rt-tbody .rt-td {
    border-top: 1px solid white;
    border-left: 1px solid white;
}
.ReactTable .rt-thead .rt-tr .rt-th{
    border-top: 1px solid white;
    border-left: 1px solid white;
}